html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Dynamic Image Cards
  style 
    include ../static/Home.css
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js') 
  script(src="https://d3js.org/d3.v7.min.js")
  script 
    include ../static/Home.js
body
  audio(id="newImageSound" src="../static/alert.wav" preload="auto")
  nav.nav
    ul
      li 
        img(src="../static/Delhivery_logo.gif", alt="" ,id='logo')
      li
        a(href="/Home.html") 
          img(src="../static/Homeicon.png", alt="Loading")
      li
        a(href="/Unread.html") Unread
        span#unreadcount
      li
        a(href="/Resolve.html") Resolved 
        span#resolvedCount 
      li
        a(href="") HelplineNo.
      


  #overlay 
  #cardContainer

  // Existing card container
  .card-container
    // Latest four images will be displayed here
  #outerbox
   #boxdirection
     svg#pie-chart(width="200" height="200")
     #boxitem
       #pievaluecontainerforunread
         #unreadvalue  
         span Unread Case
       #pievaluecontainerforresolve
         #resolvevalue 
         span Resolve Case
   #looker
        iframe(src="https://lookerstudio.google.com/embed/reporting/df162371-f355-40e4-8ca6-66a4e9a3739c/page/hR9nD", width="450", height="400", frameBorder="0")
// Rest of your HTML and CSS...


