doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dynamic Image Cards
    style 
      include ../static/Resolve.css
    script
      include ../static/Resolve.js
  body
    nav.nav
      ul
        a(href="/Home.html") 
         img(src="../static/Homeicon.png", alt="Loading")
        li
          a(href="/Unread.html") Unread
        li
          a(href="/Resolve.html") Resolved
          span#resolvedCount 
        li
          a(href="") HelplineNo.
    #cardContainer