* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in box model */
    
}

 body {
    height: 100%;
    background-color: black
}

.nav {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2; /* Increased z-index for the navigation bar */
    border-bottom: 2px solid #ccc; /* Add a border at the bottom of the header section */
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content:space-around;
    height: 50px;
    width: 100vw;
    align-items: center;
}

.nav li {
    color: white;
    margin-right: 10px; /* Add margin to create space between navigation items */
}

.nav li:last-child {
    margin-right: 0; /* Remove margin for the last navigation item to avoid extra space */
}

.nav li:hover {
    color: aqua;
}

body {
    display: flex;
    min-height: 100vh;
    margin-top: 60px;
    /* Adjust margin-top based on the height of your navigation bar */
    

}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    padding: 0 20px; /* Add padding to the left and right of the card container */
    /* border: 2px solid #ccc;Add borders to the card container */
    margin: 10px; /* Add margin for better visual separation */
    height: 100%;
    width: 60vw;
}

.card {
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(25% - 25px); /* Set the width of each card */
    transition: transform 0.3s;
    box-shadow: 5px 5px 10px gray ;
    height: 35vh;
    padding: 5px;
    /* box-shadow: 5px 5px 10px gray inset; */
    
}

.card:first-child {
    
    width: 70vw; 
    height: 60vh;
    
}


.card img {
    width: 100%; /* Make the image take the full width of the card */
    height: 100%; /* Set the height of the image */
    border-radius: 10px;
    object-fit: cover; 
    padding-bottom: 40px;/* Prevent stretching and maintain aspect ratio */
    
}

.card:hover {
    transform: scale(1.05);
}

.table-card {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
    padding: 10px;
}

.table-cell img {
    width: 100%;
    height: auto; /* Auto adjust height based on aspect ratio */
    border-radius: 5px;
}

li a img {
    filter: invert(100%);
    height: 25px;
    width: 25px;
}

#logo {
    height: 50px;
    width: 250px;
}

a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: none;
    color: aqua; /* Optionally, set the hover text color */
    text-decoration: underline;
}

.Card-text {
    background-color:black;
    font-weight: bold;
    color: white;
}

@keyframes glowAnimation {
    0% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); }
    50% { box-shadow: 0 0 20px rgba(255, 0, 0, 0.7); }
    100% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.998); }
}

.glow-up-down-animation {
    animation: glowAnimation 1s;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to go through the overlay */
}

#latestImageContainer {
    max-width: 1200px; /* Set a max-width for better responsiveness */
    border: 2px solid #ccc; /* Add borders to the latest image container */
    margin: 10px; /* Add margin for better visual separation */
    padding: 10px; /* Add padding for better visual spacing */
}

.nav li.helpline {
    margin-left: auto; /* Push the Helpline link to the right */
}

#pievaluecontainerforunread{  
    display: flex;
    margin: 20px;
    
}
#unreadvalue{
    height: 20px;
    width:20px;
    background-color: orange;
}
#boxdirection{
    width: 35vw;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 2px solid gray;
    height: 40vh;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    padding: 10px;
   
    
    
}
#boxitem{
    width: 15vw;
    
}
#pievaluecontainerforresolve
{
    display: flex;
    margin: 20px;
    /* border: 2px solid red; */
    
}
#outerbox{
    display: flex;
    flex-direction: column;
    
}
#looker{
    margin-top: 30px;
    border: 2px solid gray;
    border-radius: 10px;

}
#resolvevalue
{
    height: 20px;
    width:20px;
    background-color: blue;
}
#boxitem span{
    color: white;
    display: block;
    margin-left: 10px;
}
